@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	background-color: #FAFAFA;
}
.container{
	margin: 0 auto;
}

.header-section, .footer-section{
	background-color:#333333;
	color:white;
}

.main-section{
	background-color: #FEFEFE;
	color:black;
	overflow: hidden;
}
.contact-section{
	overflow: hidden;
	background-color: #FEFEFE;
	color:black;
	text-align: center;
	margin-bottom: 0 !important;
}
.contact-section li{
	display: inline;
}

h1{
	font-size: 1.8em;
}

h2{
	font-size: 1.3em;	
}

h3{
	font-size: 1.1em;
	font-weight: bold;
}

h4{
	font-size: 1.05em;	
	font-weight: bold;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

hr{
	background-color: gray;
	height: 1px;

}
.lines{
	overflow: hidden;
	background-color: #FEFEFE; 
}
.link-header{
	text-decoration: underline;
}

.profile-pic{
	border-radius: 50%;
}